footer#new-landing.footer
	.container
		.left
			h2 Компания сегодня
			a.logo(href="#" target="_blank")
				img.logo__img(src=imgUrl+"logo.jpg", alt="")
			p © ErichKrause, 2020. Все права защищены
			a(href="#" target="_blank") Политика конфиденциальности
		.right
			.block
				h3.block__title Навигация
				ul.menu
					li
						a(href="#") О компании
					li
						a(href="#") Новости
					li
						a(href="#") Ценности компании
					li
						a(href="#") Конкурсы
					li
						a(href="#") Наши бренды
					li
						a(href="#") Обзоры
					li
						a(href="#") Каталоги
					li
						a(href="#") Контакты
			.block
				h3.block__title Поддержка
				ul.menu2
					li
						a(href="#") Доставка
					li
						a(href="#") Оплата
					li
						a(href="#") Отследить заказ
					li
						a(href="#") Возврат
			.block
				ul.social
					li
						a(href="#")
							img(src=imgUrl+"icons/facebook.svg", alt="")
					li
						a(href="#")
							img(src=imgUrl+"icons/youtube.svg", alt="")
					li
						a(href="#")
							img(src=imgUrl+"icons/insta.svg", alt="")
					li
						a(href="#")
							img(src=imgUrl+"icons/vk.svg", alt="")
				ul.links
					li
						a(href="#") Программы скидок
					li
						a(href="#") Обратная связь
					li
						a(href="#") Условия приобретения товаров
